.btn {
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px; 
    transition: all .3s ease-out;
    font-weight: 600;

    &--sm {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 5px 10px;
    }
    &--md {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 5px 10px;
    }
    &--lg {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 5px 10px;
    }
    &--cta {
        color: google-color(contrast red, 400);
        background-color: google-color(red, 400);

        &:hover {
            color: google-color(contrast red, 400);
            background-color: google-color(red, 400);       
        }
    }
    &--blue {
            background-color: google-color(blue, 700);            
            color: google-color(contrast blue, 700);   

        &:hover {
            background-color: google-color(blue, 400);            
            color: google-color(contrast blue, 400);            
        }
    }
}