.content {
    flex-grow: 1;
    overflow: hidden;
    padding: 2.5rem 1rem;
    
    &__title {
        font-size: 2rem;  
        line-height: 48px;
        color: $main-black-color;

        @mixin atSmall {
            font-size: 2.25rem;     
        }
        @mixin atMedium {
            font-size: 3rem;
            padding-bottom: 1rem;
        }
    }

    &__with-aside {

        @mixin atMedium {
            display: flex;
            justify-content: space-between;    
        }        
    }
}


.image-container {
    position: relative;

    .catchphrase {
        text-align: center;
        font-size: 42px;
        position: absolute;
        color: #f1f1f1;
        padding: 40px;
        background-color: rgba(0,0,0, 0.5);
        margin-top: 50px;
        letter-spacing: 1px;
    }
    
    img {
      width: 100%;
      border-radius: 5px;
    }
}