.main-menu {
    position: relative;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 64px; 
    
    @mixin atSmall {
        min-height: 56px;       
    }

    &__nav {

    }
    &__logo {
        font-family: $primaryFont;
        color: google-color(lightblue, 300);
    }
    .icon {
        &__more {
           
        }
    }
}
.nav {
    display: flex;
    justify-content: space-between;

    &__item {
        cursor: pointer;
        margin-left: 1rem;
        text-decoration: none;
        background-color: transparent;
        transition: color .3s ease-out;

        .nav--dark & {
            color: google-color(gray, 50);
        
            &:hover {
                color: google-color(white);
            }                
        }
        .nav--light & {
            color: google-color(blue, 300);

            &:hover {
                color: google-color(blue, 500);
            }                
        }
    }
    &--dark > .nav__item.active{
        color: google-color(white);
    }    
    &--light > .nav__item.active {
        color: google-color(blue, 500);
    }        
}