.main-menu {
    position: relative;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 64px; 
    
    @mixin atSmall {
        min-height: 56px;       
    }

    &__nav {

    }
    &__logo {
        font-family: $primaryFont;
        color: google-color(lightblue, 300);
    }
}
.nav {
    display: flex;
    justify-content: space-between;

    &__item--right {

    }
}