* {box-sizing: border-box;}

body {
  color: $main-text-gray-color;
  padding: 0;
  margin: 0;
  font-family: $primaryFont;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
  background-color: $main-white-color;
}

iframe {border: none;}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;  
}

ul li {
  list-style-type: none;
}

a:hover {
  text-decoration: none; 
}

p, h1, h2, h3, h4, h5, h6 { 

  margin: 0;   

  &::before {
    margin: 0; 
  }
  &::after {
    margin: 0; 
  }
}

p {}

.primaryFont {
  font-family: $primaryFont;
}

.secondaryFont {
    /*font-family: $secondaryFont;*/
}

/* Body Structure */

.wrapper {
  position: relative;
  z-index: 1;  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.aside {

}

.container {
  /* position: relative;
  width: 100%;
  z-index: 1;

  &--center {
    margin-left: auto;
    margin-right: auto;
  }

  @mixin atSmallest {
    max-width: $atSmall;
  }  
  @mixin atSmall{
    max-width: $atMedium;
  }

  @mixin atMedium {
    max-width: $atLarge;
  }

  @mixin atLarge{
    max-width: $atLargest;
  } */

}

.buffer__inner {

    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;     

    @mixin atSmall {
      padding-left: 24px;
      padding-right: 24px;
    }  

  &--tb {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  &--lr {
    padding-left: 16px;
    padding-right: 16px; 

    @mixin atSmall {
      padding-left: 24px;
      padding-right: 24px;
    }        
  }
  &--t {
    padding-top: 16px;
  }
  &--b {
    padding-bottom: 16px;    
  }
  &--l {
    padding-left: 16px;

    @mixin atSmall {
      padding-left: 24px;
    }      
  }
  &--r {
    padding-right: 16px;

    @mixin atSmall {
      padding-right: 24px;
    }      
  }
}
.buffer__outer{

    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;     

    @mixin atSmall {
      margin-left: 24px;
      margin-right: 24px;
    }  

  &--tb {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  &--lr {
    margin-left: 16px;
    margin-right: 16px; 

    @mixin atSmall {
      margin-left: 24px;
      margin-right: 24px;
    }        
  }
  &--t {
    margin-top: 16px;
  }
  &--b {
    margin-bottom: 16px;    
  }
  &--l {
    margin-left: 16px;

    @mixin atSmall {
      margin-left: 24px;
    }      
  }
  &--r {
    margin-right: 16px;

    @mixin atSmall {
      margin-right: 24px;
    }      
  }
}