/* typography.css */
.category {
    font-size: 14px;
    text-transform: uppercase;

    .apartment {
      color: #a72da3;
    }
    .house {
      color: #bf1818;
    }
    .condo {
      color: #d68000;
    }
}   