$atSmallest: 320px;
$atSmall: 576px;
$atMedium: 768px;
$atLarge: 992px;
$atLargest: 1200px;

/* Colors */

$main-color: #61dafb;
$main-text-gray-color: #484848;
$light-gray-color: #a9a9a9;
$main-black-color: #20232a;
$main-white-color: #ededed;

$green-A7: #00C853;
$blue-A4: #2979FF;
$red-400: #FF1744;
$red-700: #D50000;

/* Fonts */
$primaryFont: 'Asap', sans-serif;
/*$secondaryFont: 'Proza Libre', sans-serif;*/